Package: com.yourname.tiktokdownload
Name: TikTokDownload
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Download TikTok videos via TikWM
Maintainer: YourName
Author: YourName
Section: Tweaks
